body {
    color:white;
    background: pink;
    margin: 1px;
    margin-bottom: 100px;
}

header {
    border-bottom: solid 4px rgb(209, 11, 176);
    padding: 15px;
    font-size: 35px;
    color: palevioletred;
}


.chamada{
    background-color:lightpink;
    padding-bottom: 70px;
    padding-top: 70px;
    display: flex;
    justify-content: center;
}

